.vs
/packages
*.suo
*.user
The Long Dark Save Editor 2/bin/
The Long Dark Save Editor 2/obj/
The Long Dark Save Editor 2/*_wpftmp.csproj
The Long Dark Save Editor 2/Assets/App-preview.png
__pycache__/
*.pyc
___* insights by CODEX.md
todo.txt
Episode5-Validation-Checklist.md
backups/
tmp-*.backup
